body {
  font-size: 20px;
}

h3 {
  margin: 30px auto;
}

.director-bio,
.director-birth,
.director.death
{
  max-width: 500px;
  margin: 20px auto;
}

button {
  margin-bottom: 30px;
}

.label {
  font-weight: bold;
}
